/* custom.ccs defines overall styling for the entire application. */

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Open+Sans|Roboto');

* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.main {
  margin-top: 40px;
}

.form-header {
  margin-bottom: 20px; 
  text-align: center;
}

.center {
    margin: auto;
}

#create_submit {
  text-align: center;
}

.error {
  font-style: italic;
  color: rgb(220, 53, 69);
}

.footer {
  margin-top: 40px;
  margin-bottom: 14px;
  text-align: center;
}

.footer > p {
  margin-bottom: 0px;
}

.btn-primary {
  border-color: #2e6da4;
  background: #337ab7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#337ab7,#265a88); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#337ab7,#265a88); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#337ab7,#265a88); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#337ab7,#265a88);  /* Standard syntax */
}

.btn-alternate {
  border-color: #d3d3d3;
  background: #d3d3d3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#d3d3d3,#d3d3d3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d3d3d3,#d3d3d3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d3d3d3,#d3d3d3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d3d3d3,#d3d3d3);  /* Standard syntax */
}

tr:hover {
  background-color: #fffcd6;
  cursor: pointer;
}

.home-top {
  margin: auto;
  background-color: #e9ecef;
  padding: 18px;
  border-radius: 6px;
  margin-bottom: 14px;
}

.home-top h1 {
  font-size: 24px !important;
  margin-bottom: 0px;
}
